root = "."
tmp_dir = "bin"

[build]
  bin = "./bin/app"
  cmd = "go build -o ./bin/app ."
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "bin", "docker"]
  exclude_file = []
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "sql"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = true

[misc]
  clean_on_exit = false